{% extends 'home.html' %}

{% block content %}
<div class="main-wrapper">
	<section class="video-wrapper">
		<video class="video" src="/static/videos/smoke.mp4" autoplay muted></video>
		<button class="skip-button btn btn-lg btn-warning">Skip</button>
	</section>


	<section class="wheel-wrapper">
		
			<div class="wheel-content">
				<div class="rocket-left rocket-box"><img class="rocket-icon" src="/static/svg/rocket.svg"></div>
			<div class="rocket-right rocket-box"><img class="rocket-icon" src="/static/svg/rocket.svg"></div>

				<div class="wheel-carrousel">

					<figure class="wheel-carrousel-item" value="django"><img class="wheel-carrousel-image" src="/static/photos/django-icon.png"></figure>
					<figure class="wheel-carrousel-item" value="java"><img class="wheel-carrousel-image" src="/static/photos/java-icon.png"></figure>
					<figure class="wheel-carrousel-item" value="mysql"><img class="wheel-carrousel-image" src="/static/photos/mysql-icon.png"></figure>
					<figure class="wheel-carrousel-item" value="css"><img class="wheel-carrousel-image" src="/static/photos/css-icon.png"></figure>
					<figure class="wheel-carrousel-item" value="html"><img class="wheel-carrousel-image" src="/static/photos/html-icon.png"></figure>
					<figure class="wheel-carrousel-item" value="js"><img class="wheel-carrousel-image" src="/static/photos/js-icon.png"></figure>
					<figure class="wheel-carrousel-item" value="vue"><img class="wheel-carrousel-image" src="/static/photos/vue-icon.png"></figure>
					<figure class="wheel-carrousel-item" value="bootstrap"><img class="wheel-carrousel-image" src="/static/photos/bootstrap-icon.png"></figure>
					<figure class="wheel-carrousel-item" value="gift"><img class="wheel-carrousel-image" src="/static/photos/gift.png"></figure>

				</div>
			</div>
			
	</section>
	<section class="collapse-section">
		<div class="tiles-container"></div>
		<div class="content-wrapper"></div>
	</section>
	
	
</div>

{% endblock %}