{% extends 'home.html' %}

{% block content %}

<section class="slider-wrapper">
			<div class="rocket-left rocket-box"><img class="rocket-icon" src="/static/svg/rocket.svg"></div>
			<div class="rocket-right rocket-box"><img class="rocket-icon" src="/static/svg/rocket.svg"></div>
			<div class="slider-content">
				<div class="slider-carrousel">
					<figure class="slider-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/django-icon.png"></figure>
					<figure class="slider-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/java-icon.png"></figure>
					<figure class="slider-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/mysql-icon.png"></figure>
					<figure class="slider-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/css-icon.png"></figure>
					<figure class="slider-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/html-icon.png"></figure>
					<figure class="slider-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/js-icon.png"></figure>
					<figure class="slider-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/vue-icon.png"></figure>
					<figure class="wheel-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/bootstrap-icon.png"></figure>
					<figure class="slider-carrousel-item"><img class="slider-carrousel-image" src="/static/photos/gift.png"></figure>
				</div>
			</div>
			
	</section>


	<div id="log"></div>
	


{% endblock %}